# I don't want to store the preprocessed files in the index. These can later be
# stored in some central repository.
Preprocessing/Preprocessed
Preprocessed
data/*
!data/transforms

venv/
__pycache__/

*.pyc
*.csv
*.cls
*.txt
*.ftrs

venv/
/**/.cache/

# Ignore compiled python files and vim files
*.*.swp
